<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <title>Todo list</title>
   </head>

   <body>
		<h1> MY TODO LIST </h1>
		
		<form action="#" th:action="@{/MyTodoList}" th:object="${newTask}" method="post">
		
			<p> Title: </p>
			<input type="text" th:field="*{title}">
			
			<p> Content: </p>
			<input type="textarea" rows="5" cols="30" th:field="*{content}"/>
		
			<input type="submit" value="Save">
		
		</form>
		
		<div>
			<table>
				<tr> 
					<th> Done</th>
					<th> Title</th>
					<th> Content</th>
					<th> Created date</th>
				</tr>
				<tr th:each="task : ${allTasks}">
						<td> <input type="checkbox" name="active" th:checked="${task.done}" /> </td>
						<td th:text="${task.title}"></td>
						<td th:text="${task.content}"></td>
						<td th:text="${task.createdDate}"></td> 
						
				</tr  >
			</table>	
		
		</div >
		
		
   </body>
</html >